html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   color:#5c5d69;
   margin:0;

 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Ubuntu", Helvetica, Arial, sans-serif;
 }

 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }
 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position:relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position: relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

/* Extra-large screen */
@media (min-width: 1900px) {
   header .hero p {
   font-size: 28px;
   line-height: 30px;
   font-weight: 100;
   margin:12px 0 40px;
 }
}


/* HEADER */
 header {
   color:#FFFFFF;
 }

 header nav {
   padding: 1em 0;
 }
 header nav ul {
   display: block;
   text-align: right;
   margin:0;
   padding:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: block;
 }
 header nav ul > li.btn-outline {
   padding: 15px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }
   .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:53px;
   font-weight: normal;
   margin:15px 0 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:10px 15px;
 }
 header nav ul > li.btn-outline {
   padding: 10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }
header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:42px;
   font-weight: normal;
   margin:25px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
header .hero img{
        height:auto;
        width:100%;
    padding-top: 20px;
    }

 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #ef5030;
   border: 2px solid #ef5030;
   box-shadow: 0px 2px 0px 0px #ce3f21;
 }

.graytext {
   color:#2f464c;
   font-weight: 700;
   text-decoration: none;
   padding:10px 10px;
   
 }



/* BENEFITS */
 .benefits {
   text-align: center;
   display: block;
   position: relative;
 }
 .benefits ul {
   margin: 0 auto;
   padding: 4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
}
.benefits h2 {
   color:#0e8697;
 }

 /* PRICING */
 .pricing {
   background: #ffffff;
   text-align: center;
   padding:1em 0;
 }
 .pricing h2, .pricing p {
   color:#c1dcf9;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }
 .box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
   border-radius: 4px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }
 .box h3 {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   color: #ffffff;
   background: #3bccce;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:20px 0;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
 }
 .box h4 {
   font-size:60px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#0e8697;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Ubuntu", Helvetica, Arial, sans-serif;
   font-weight: 300;
   color:#0e8697;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }
 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }

 /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#0e8697;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#FFFFFF;
   border-radius: 4px;
   text-align: left;
   font-style: italic;
   background:#0e8697;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #0e8697;
   border-width: 10px;
   margin-left: -10px;
 }
 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
}
  .moving {
   margin-top: 20px;
  }

 /* FOOTER */
 footer {
   background-color: #34495e;
   background-image: linear-gradient(to top, #0e8697 0%, #0e8697 50%, #34495e 50%, #34495e 100%);
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size: 14px;
   font-weight: 100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
  footer .left-footer-block {
   margin:0;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
footer .logo {
    padding: 0;
  margin: 0 auto;
  display: block;
}

 /* MEDIA QUERIES */
@media (min-width: 768px) {
   .container {
     width: 750px;
   }
   .one-half {
     width:95%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:46%;
   }
   .site-logo {
      display:inline-block;
   }
   header nav ul {
      display: inline-block;
      text-align: right;
      float:right;
    }
    header nav ul > li {
      list-style-type: none;
      display: inline-block;
      margin:0 5px;
    }
    .banner img {
    width: 100%;
 }
    .testimonials .one-fourth {
      width:46%;
     }
    .testimonials .alternate {
      margin-top:0px;
     }
 }

 @media (min-width: 992px){
     .container {
     width: 970px;
   }
     .one-fourth {
     width:21%;
   }  
   footer{
     background-color: #0e8697;
     background-image: linear-gradient(to left,
        #0e8697 0%, #0e8697 33.33337%, #34495e 33.33337%, #34495e 100%);
     height: 100px;
   }
  footer .one-third {
    width:29.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
  }
  footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #0e8697;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
     width:auto;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
@media (min-width: 768px){
   footer{
     background-color: #0e8697;
     background-image: linear-gradient(to left,
        #0e8697 0%, #0e8697 33.33337%, #34495e 33.33337%, #34495E 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #0e8697;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
}
/* Scale image in the Hero section */

header .hero img {
max-width: 100%; 
height: auto;
display: block;
}

 /* DASHBOARD */
 .dashboard {
   background: #F7F7F7;
 }
 .left-nav {
   height: 100vh;
   width:14.66666667%;
   color:#FFFFFF;
   background: #34495E;
   background-image: linear-gradient(206deg, #0F6F7E 0%, #34495E 94%);
   float:left;
   position: fixed;
   display:block;
 }
 .left-nav .site-logo {
   padding:20px 0;
   background:#34495E;
   display:block;
   text-align: center;
 }
 .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }



 /* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#0F6F7E;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
 .left-nav .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top:8px;
 }



 /* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "Open Sans", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #0F6F7E;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }


 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

/* Content Items */
 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #0F6F7E;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }

.items ul .active {
background:#3BCCCD;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 4px;
border-radius: 2px;
}

.left-nav .items ul li a.changing {
 color: #0F6F7E;
}




/* DASHBOARD */
 .dashboard {
   background: #F7F7F7;
 }
 .left-nav {
   height: 100%;
   width: 280px;
   position: absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
  .left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#34495E;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }
 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: #34495E;
     background-image: linear-gradient(206deg, #0e8697 0%, #34495E 94%);
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }

/* SETTINGS */
.settings-btn {
  display: inline;
  margin-top:0px!important;
}

.settings p {
  font-size: 13px;
}

.dropit-inverse .dropit-submenu li a {
  text-align: left;
  font-size:12px;
  float:none;
}