
body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#5c5d69;


background-color: #ffffff;

}

a {
  color: #1997A9;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;

}
/* Image below header*/

 .banner img {
  height:auto;
  width:100%;
  
    }

.banner {

background: rgba(173,201,225,1);
background: -moz-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,201,225,1)), color-stop(7%, rgba(173,201,225,1)), color-stop(82%, rgba(188,208,219,1)), color-stop(100%, rgba(188,208,219,1)));
background: -webkit-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: -o-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: -ms-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: linear-gradient(to bottom, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc9e1', endColorstr='#bcd0db', GradientType=0 );
width: 100%;
position: relative;
}


.banner1 {
background: rgba(49,131,138,1);
background: -moz-linear-gradient(top, rgba(49,131,138,1) 0%, rgba(47,124,133,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,131,138,1)), color-stop(100%, rgba(47,124,133,1)));
background: -webkit-linear-gradient(top, rgba(49,131,138,1) 0%, rgba(47,124,133,1) 100%);
background: -o-linear-gradient(top, rgba(49,131,138,1) 0%, rgba(47,124,133,1) 100%);
background: -ms-linear-gradient(top, rgba(49,131,138,1) 0%, rgba(47,124,133,1) 100%);
background: linear-gradient(to bottom, rgba(49,131,138,1) 0%, rgba(47,124,133,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31838a', endColorstr='#2f7c85', GradientType=0 );
width: 100%;
position: relative;
}

 .banner1 h1 {
   font-size:45px;
   color:#ffffff;
   font-weight: normal;
   margin-top:65px;
   padding-top: 40px;
  
 }


 .banner h1 {
   font-size:38px;
   color:#ffffff;
   font-weight: normal;
   margin:75px 0 1px;
   padding-top: 20px;
 }

  .banner p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }



  .banner1 h4 {
   font-size: 31px;
   line-height: 26px;
   font-weight: 100;
   margin:40px 0 -29px;
   padding:24px 0;
 }



.banner1 img {
  height:auto;
  width:100%;
  margin-top: 0px;
  
    }

.Survey {

  margin: 0;
}

.Survey img {
 background: rgba(173,201,225,1);
background: -moz-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,201,225,1)), color-stop(7%, rgba(173,201,225,1)), color-stop(82%, rgba(188,208,219,1)), color-stop(100%, rgba(188,208,219,1)));
background: -webkit-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: -o-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: -ms-linear-gradient(top, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
background: linear-gradient(to bottom, rgba(173,201,225,1) 0%, rgba(173,201,225,1) 7%, rgba(188,208,219,1) 82%, rgba(188,208,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc9e1', endColorstr='#bcd0db', GradientType=0 );
  max-width: 80%;
  height: auto;
  width: auto;
  display: block;
  position: relative;
  margin: 0 auto;

    }



/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
 
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/* Image hover effect */

img.shadow {
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;  
}

img.shadow:hover {-moz-transborm: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);}

/* Prototype button */

.prototype {

    margin-left: auto;
    margin-right: auto;
  
   padding-bottom: 20px;

  
}



